@import url("file:///home/jude/.cache/wal/colors.css");
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
  --foreground-alt: var(--color2);
  --foreground-alt-alt: var(--color4);
  --font: "Hack";
}

#TabsToolbar .tabbrowser-tab .tab-line[selected="true"] {
  background-color: var(--foreground-alt) !important;
}

/* url container color */
.urlbar-input-container {
  background-color: var(--color10) !important;
  border-radius: 9px !important;
}
#urlbar-input {
  background-color: var(--color2) !important;
  border-radius: 9px !important;
  padding-left: 5px !important;
}
.urlbarView {
  background-color: var(--background) !important;
  border-radius: 15px !important;
}
.urlbarView > .urlbarView-row {
  background-color: var(--color3) !important;
}
.urlbarView-row:hover {
  background-color: var(--color4) !important;
}

#reload-button {
  background-color: var(--color3) !important;
  color: var(--foreground) !important;
  border-radius: 6px !important;
}

/* Color for firefox panel (tabs background and background behind url bar) */
menubar,
toolbar,
#TabsToolbar > * {
  font-family: var(--font) !important;
  background-color: var(--color1) !important;
  color: var(--foreground) !important;
}

nav-bar,
#TabsToolbar > * {
  font-family: var(--font) !important;
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

/* Bookmarkstoolbar */
#PersonalToolbar {
  background-color: var(--color0) !important;
  color: var(--foreground) !important;
}

/* Dropwdown button on top right */
#alltabs-button {
  background-color: var(--color1) !important;
  color: var(--foreground) !important;
}

/* Space after dropdown button */
.titlebar-spacer {
  display: none !important;
}

/* Close button color */
.titlebar-close {
  display: none !important;
}

.tab-close-button.close-icon {
  color: var(--foreground) !important;
}

#back-button {
  padding-left: 2px !important;
}
/* Back button coloring color */
#back-button:not([disabled="true"]):not([open="true"]):not(:active)
  .toolbarbutton-icon {
  background-color: var(--color5) !important;
  color: var(--foreground) !important;
  border-radius: 6px !important;
}

#forward-button:not([disabled="true"]):not([open="true"]):not(:active)
  .toolbarbutton-icon {
  background-color: var(--color5) !important;
  color: var(--foreground) !important;
  border-radius: 6px !important;
}

/* --- Customize the context menu --- */
/* Remove all silly margins and set color/font everywhere */
#contentAreaContextMenu *,
#placesContext *,
.textbox-contextmenu *,
#tabContextMenu *,
#toolbar-context-menu * {
  -moz-appearance: none !important;
  background-color: var(--background) !important;
  font-family: var(--font) !important;
  margin-left: 0px !important;
  color: var(--foreground) !important;
}

#PanelUI-menu-button {
  padding: 3px !important;
  background-color: var(--color4) !important;
  border-top-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
/* side menu */
.panel-subview-body {
  background-color: var(--background) !important;
}
.panel-subview-body > .subviewbutton:hover {
  background-color: var(--color2) !important;
}
#downloadsPanel-multiView {
  background-color: var(--background) !important;
}
/* Specs for submenus */
menu {
  -moz-appearance: none !important;
  font-family: var(--font) !important;
  color: var(--foreground-alt-alt) !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: var(--foreground-alt) !important;
}

/* General menu item specs */
menuitem {
  font-family: var(--font) !important;
  color: var(--foreground) !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: var(--foreground-alt) !important;
}

/* This affects eg. dropdowns from bookmarks folders, and context menus */
menuitem > * {
  color: var(--foreground) !important;
}

menupop {
  border: 2px solid var(--color6) !important;
}
#contentAreaContextMenu menuitem:hover {
  background-color: var(--color5) !important;
}
#contentAreaContextMenu menuitem * :hover {
  background-color: var(--color5) !important;
}

#contentAreaContextMenu *,
#placesContext *,
.textbox-contextmenu *,
#tabContextMenu *,
#toolbar-context-menu * {
  -moz-appearance: none !important;
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font) !important;
  margin-left: 0px !important;
}

/* Disable some context menu buttons */
#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-inspect-ally,
#context-bookmarkpage {
  display: none !important;
}

/* --- Customize tabs--- */
.tab-background-start[selected="true"]::after,
.tab-background-start[selected="true"]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected="true"]::after,
.tab-background-end[selected="true"]::before,
.tabbrowser-tabs {
  /* Force that these items do not have a minimum height. This is * especially needed for supporting TabMix Plus. */
  min-height: 0px !important;

  /* Make sure that the text is correctly aligned. */
  -moz-box-align: center !important;
  -moz-appearance: none !important;
}

/* tabs coloring */
.tabbrowser-tab .tab-label {
  font-family: var(--font) !important;
  color: var(--foreground) !important;
}

.tabbrowser-tab {
  font-family: var(--font) !important;
  color: var(--foreground) !important;
  background-color: var(--color3) !important;
}

/* active tab coloring */
.tabbrowser-tab[selected="true"],
.tab-text.tab-label[selected="true"] {
  font-weight: bold !important;
  color: var(--foreground-alt-alt) !important;
  background-color: var(--color1) !important;
}

/* hovering tabs */
.tabbrowser-tab:hover {
  background-color: var(--color5) !important;
  font-weight: bold !important;
  -moz-appearance: none !important;
}

/* Tabs: no icons */
/* .tabbrowser-tabs .tab-icon-image { */
/*   display: none !important; */
/* } */

/* Needed to make sure that the tab bar will not grow by one pixel
 * if it overflows. */
#TabsToolbar > #alltabs-button,
#TabsToolbar > #new-tab-button,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox > * {
  margin-bottom: 0px !important;
}

/* This is the box at the left and right of the tabs. */
#tabbrowser-tabs > .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  -moz-padding-end: 0px !important;
  -moz-padding-start: 0px !important;
}

/* The image of the tabs. */
/* .tab-throbber, */
/* .tab-icon-image { */
/*   display: none !important; */
/* } */

/* The image of not pinned (normal) tabs. */
.tab-throbber:not([pinned]),
.tab-icon-image:not([pinned]) {
  -moz-margin-end: 4px !important;
}

/* The contents of the tabs. */
.tab-content:not([pinned]) {
}

/* The label which holds the site name. */
.tab-text.tab-label:not([pinned]) {
}

/* The close button of the tab. */
.tab-close-button:not([pinned]) {
  -moz-margin-start: 0px !important;
}

/* --- Bookmarks customization --- */
#PlacesToolbarItems > .bookmark-item {
  min-height: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

/* In bookmark submenus this will be the color of folders */
.menu-iconic.bookmark-item.subviewbutton {
  color: var(--foreground-alt) !important;
}

/* The bookmarks panel when pressing the 'bookmarks button' */
#bookmarksPanel,
#historyPanel {
  font-weight: bold !important;
  color: var(--foreground-alt) !important;
  background-image: var(--background) !important;
}

/* Toolbar */
#PersonalToolbar > * {
  /* Make sure that all items in the toolbar can become smaller. */
  min-height: 0px !important;
}

/* Bookmarks Toolbar: no icons */
#personal-bookmarks .toolbarbutton-icon,
.menu-iconic-left,
.openintabs-menuitem {
  display: none !important;
}

/* Bookmark items */
.menuitem-iconic.bookmark-item.menuitem-with-favicon {
  -moz-appearance: none !important;
  font-family: var(--font) !important;
  color: var(--foreground) !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: var(--foreground-alt);
}

/* Bookmark items hover */
.menuitem-iconic.bookmark-item.menuitem-with-favicon:hover {
  -moz-appearance: none !important;
  font-weight: bold !important;
  background-color: var(--background) !important;
}

/* Removes all the excess padding of the container of dropdown bookmarks */
.box-inherit.scrollbox-innerbox {
  background-color: var(--background) !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}
#contentAreaContextMenu #placesContext.menuitem {
  margin: 0px !important;
  padding: 0px !important;
}

/* --- Autocomplete dropdown --- */
.autocomplete-richlistitem {
  font-family: var(--font) !important;
  color: var(--foreground) !important;
  background-color: var(--background) !important;
}

/* selected item using arrow keys */
.autocomplete-richlistitem[selected],
treechildren.searchbar-treebody::-moz-tree-row(selected) {
  background-color: var(--foreground-alt-alt) !important;
}

/* hover effect */
.autocomplete-richlistitem:hover {
  font-weight: bold !important;
}

/* the bow surrounding the items */
.autocomplete-richlistbox {
  background-color: var(--background) !important;
  margin: 0px !important;
}
/*
.autocomplete-richlistitem:focused{
    font-weight:bold !important;
}*/

/* urls in autocomplete dropdopwn */
.ac-url-text,
.ac-action-text {
  font-family: var(--font) !important;
  color: var(--foreground-alt) !important;
}

/* separator between item and url for autocomplete */
.ac-separator-text {
  font-family: var(--font) !important;
  color: var(--foreground-alt-alt) !important;
}

/* Hide the bottom two bars of autocomplete and bookmark indicator */
.search-panel-one-offs,
.search-one-offs,
.ac-type-icon {
  display: none !important;
}

#statusbar-display[label^="Looking"] {
  display: none !important;
}
#statusbar-display[label^="Connect"] {
  display: none !important;
}
#statusbar-display[label^="Waiting"] {
  display: none !important;
}
#statusbar-display[label^="Transfer"] {
  display: none !important;
}

/* Change the wite flash of page load to background color*/
.browserContainer {
  background-color: var(--background) !important;
}

/* Remove top and bottom spaces on tabs,
causing additional height on title bar. */
.tab-background {
  margin-block: 0 !important;
}

/* Remove space gaps on in between tabs and left
and right edges. */
.tabbrowser-tab {
  padding: 0 !important;
}

/* Remove pre tabs spacer. */
hbox.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}

/* Decrease padding on tabs. */
hbox.tab-content {
  padding-inline: 4px !important;
}

/* Redesigned the new tab button. */
toolbarbutton#tabs-newtab-button {
  margin-inline: 3px !important;
  border-radius: 4px !important;
  padding: 0 !important;
  background-color: var(--color3) !important;
}

/* Decrease toolbar height  */
toolbar#nav-bar {
  max-height: 26px !important;
}
hbox#urlbar {
  min-height: 24px !important;
}
hbox#urlbar:not([focused="true"]) {
  max-height: 22px !important;
}
/* Remove gap between title bar and toolbar. */
toolbar#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none !important;
}
