*

.*.swp
.bash_history
.bash_local
.bash_logout
!.profile
!screenshots
!screenshots/*

# Zsh
!.zshrc

# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore
# Monorepo
!.gitmodules


# This won't actually pull in the other contetns of the dir, though.
!.ipython
# ...default profile's...
!.ipython/profile_default
# ...main config file
!.ipython/profile_default/ipython_config.py

# Virtualenvwrapper hooks
!.virtualenvs
!.virtualenvs/postmkvirtualenv

# Install script
!install.sh
!.config
!.config/btop
!.config/btop/*
!.config/btop/themes
!.config/btop/themes/*
.config/btop/btop.log
!.config/cava
!.config/cava/*
!.config/fastfetch
!.config/fastfetch/*
!.config/hypr
!.config/hypr/*
!.config/kitty
!.config/kitty/*
!.config/nvim
!.config/nvim/*
!.config/wlogout
!.config/wlogout/*
!.config/wlogout/icons/*
!.config/wofi
!.config/wofi/*
!.config/waybar
!.config/waybar/*
!.config/waybar/scripts/*
!.config/wal
!.config/wal/*
!.config/wal/templates/*
!.config/safeeyes
!.config/safeeyes/*
!.config/spicetify
!.config/spicetify/*
!.config/spicetify/Themes/wal
!.config/spicetify/Themes/wal/*
!.config/safeeyes/style/*
!.config/xsettingsd
!.config/xsettingsd/*
!.config/Thunar
!.config/Thunar/*
!.config/zathura
!.config/zathura/*
!.config/xfce4
!.config/xfce4/*
!.config/xfce4/xfconf/xfce-perchannel-xml
!.config/xfce4/xfconf/xfce-perchannel-xml/*
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/gtk-4.0
!.config/gtk-4.0/*
!.config/qt6ct
!.config/qt6ct/*
!.config/qt5ct
!.config/qt5ct/*
!.config/xarchiver
!.config/xarchiver/*
!.config/mimeapps.list
