@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: Maple Mono;
  color: @foreground;
}

#window {
  background: alpha(@background, 0.9);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid @color2;
}

#input {
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 10px;
  border: 1px solid @color3;
  background-color: alpha(@color1, 0.9);
}

#inner-box {
  padding: 8px;
}

#outer-box {
  padding: 15px;
}

#img {
  margin-right: 5px;
}

#entry {
  padding: 8px;
  border-bottom: 1px solid @color4;
  border-radius: 10px;
}

#entry:selected {
  background: alpha(@color2, 0.8);
}

#text {
  margin: 2px;
}
